.posts {
  display: flex;
  border-bottom: 1px #2c3632 dotted;
  padding: 1rem;
  background-color: #d3d4d6;
  align-items: center;
}

img {
  height: 100px;
  width: 100px;
  padding: 0.5rem;
  background-color: #f0f1f4;
  max-width: 100%;
  max-height: 100%;
  flex: 1;
}

.title {
  padding: 1rem;
  flex: 8;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: #030303;
}

.score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border: 2px #030303 groove;
  background-color: #899593;
  flex: 0.5;
  font-family: "Chonburi", cursive;

  color: #2c3632;
}

span {
  font-size: 0.75rem;
}
